Data Science Tools and Ecosystem

In this notebook, Data Sciense Tolls and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1 Python
    2 R
    3 SQL


Some of the commonly used libraries used by Data Scientists include:

1  PyTorch

2 NumPy

3 Pandas

4 Matplotlib 

5 Keras 

6 dplyr

7 caret 

8 ggplot

|Data Science Tools||---||Anaconda||Jupyter Notebooks||Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
##This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
##This will convert 200 minutes to hours by dividing by 60.
200//60

3


**Objectives**
<ul>
    <li> R</li>
    <li> Python </li>
    <li> SQL </li>
    <li> SPSS </li>

**Objectives**
<ul>
<li> R </li>
<li>Python</li>
<li> SQL </li>
<li> SPSS </li>

## Author

## Alexandra Siakavella